.features-title {
  display: none;
}

.features-list {
  display: flex;
  justify-content: center;

  &-title {
    margin-bottom: 10px;
  }
}

.features-image-container {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: $secondary-background-color;
}

// только для мобилного
@media screen and (max-width: 767px) {
  .features-list {
    display: block;

    &-title {
      text-align: center;
    }
  }
  .features-list-item {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

// для планшета
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .features-list {
    flex-wrap: wrap;
  }

  .features-list-item {
    max-width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
  }
}

// десктоп
@media screen and (min-width: 1200px) {
  .features-list-item {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
