.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-theme-background-color;
  text-align: center;
}

.footer-logo {
  margin-bottom: 20px;
  color: $dark-theme-color;
}

.address {
  font-style: normal;
  @include font();
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  letter-spacing: 0.03em;
  color: $dark-theme-secondary-color;

  .link:not(:last-child) {
    margin-bottom: 8px;
  }

  .address-postal {
    color: $dark-theme-color;
  }

  .address-link {
    color: $dark-theme-secondary-color;
  }
}

.footer-social,
.sign-form-container {
  .title {
    display: block;
    margin-bottom: 20px;
    color: $dark-theme-color;
  }
}

// .social-join {
.footer-social {
  .social-list-item-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: $main-background-color;

    &:hover {
      background-color: $accent-color;
    }
  }
}

.sign-form-input {
  width: 100%;
  height: 50px;

  margin-bottom: 20px;

  @include font(16px, 400, 1.25);

  color: $main-background-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sign-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sign-form {
  .main-button {
    margin: 0 auto;
  }
  .send-icon {
    margin-left: 10px;
  }
}

// только для мобилного
@media screen and (max-width: 767px) {
  .footer-address-container,
  .footer-social {
    margin-bottom: 60px;
  }
}

// для планшета
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .sign-form-container {
    margin-top: 60px;
  }

  .sign-form-input {
    margin-bottom: 20px;
    width: 450px;
  }
}

// десктоп
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .footer-container {
    justify-content: space-between;
  }

  .sign-form {
    display: flex;
  }

  .sign-form-input {
    width: 358px;
    margin-right: 12px;
  }

  .footer-container {
    text-align: left;
  }

  .sign-form-container {
    margin-top: 0;
  }

  .sign-form-input {
    margin-bottom: 0;
  }
}
