.hero {
  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-480.jpg);
    
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  @include font(44px, 900, 1.36);
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}


.hero .main-button {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    // height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
}

 .hero-title{
  //  max-width: 360px;
   @include font(26px, 900, 1.62);

 }

}