.team {
  background-color: $secondary-background-color;

  &-list {
    &-item {
      width: 100%;
      background-color: $main-background-color;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
      padding-bottom: 24px;
    }
  }
}

.team-item-image {
  width: 100%;
  margin-bottom: 30px;
}

.team-item-title {
  margin-bottom: 10px;

  @include font(16px, 500, 1.19);
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-title-color;
}

.team-item-position {
  margin-bottom: 16px;

  @include font(16px, 400, 1.19);
  letter-spacing: 0.03em;
  text-align: center;
}

// только для мобилного
@media screen and(max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  // возможно ошибка в макете nth-last-child(3)
  .team-list-item:nth-last-child(2) {
    margin-bottom: 60px;
  }
}

// для планшета
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      max-width: 354px;

      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
  }
}

// десктоп
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;

    &-item {
      max-width: 270px;
      margin-bottom: 0px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
