.team {
  background-color: $secondary-background-color;

  &-list {
    // display: flex;
    // justify-content: center;

    &-item {
      width: 100%;
      background-color: $main-background-color;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
      padding-bottom: 24px;

      &:not(:last-child) {
        // margin-right: 30px;
        margin-bottom: 30px;
      }

      // возможно ошибка в макете nth-last-child(3)
      &:nth-last-child(2) {
        // margin-right: 30px;
        margin-bottom: 60px;
      }

    }
  }
}

.team-item-image {
  width: 100%;
  margin-bottom: 30px;
}

.team-item-title {
  @include font(16px, 500, 1.19);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-title-color;

  margin-bottom: 10px;
}

.team-item-position {
  @include font(16px, 400, 1.19);
  // font-size: 16px;
  // line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  
}
// Перенесено в компоненты

// .social-list {
//   display: flex;
//   justify-content: center;
// }

// .social-list-item:not(:last-child) {
//   margin-right: 10px;
// }

// .social-list-item-link {
//   width: 44px;
//   height: 44px;
//   padding: 12px;
//   border-radius: 50%;
//   color: $icon-color;
//   /* fill: $icon-color; */

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social-list-item-link:hover,
// .social-list-item-link:focus {
//   background-color: $accent-color;
// }

// .social-link-icon {
//   width: 20px;
//   height: 20px;
//   fill: currentColor;
//   /* fill: $icon-color; */
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social-list-item-link:hover .social-link-icon,
// .social-list-item-link:focus .social-link-icon {
//   fill: $main-background-color;
// }
