.main-button {
  width: 100%;
  max-width: 200px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $main-background-color;
  background-color: $accent-color;
}
