.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  @include font(36px, 700, 1.16);
  letter-spacing: 0.03em;

  text-align: center;
  color: $main-title-color;
  margin-bottom: 50px;
}

.title {
  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-title-color;
}

.text {
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
}

// @media screen and (min-width: 480px) {

// }

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
