@keyframes animationWeb {
  0% {
    transform: none;
  }
  15% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  80% {
    transform: none;
  }
  95% {
    transform: scaleY(0.1);
  }
}
