%hide-checkbox {
  /* скрытие оригинального чекбокса */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// %font-for-input-and-label

// font-size: 14px;
// line-height: 1.14;
// letter-spacing: 0.01em;

// .input-label
// .form-policy-label
// .textarea-label

// .feedback-form
