$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
// основные цвета
$main-title-color: #212121;
$main-text-color: #757575;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$secondary-background-color: #f5f4fa;

// цвета логотипа
$logo-light-theme-color: #000000;
$logo-dark-theme-color: #ffffff;

// цвета футера
$dark-theme-color: #ffffff;
$dark-theme-secondary-color: rgba(255, 255, 255, 0.6);
$dark-theme-background-color: #2f303a;
$icon-color: #afb1b8;

$background-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
